.popup-lang {
  position: fixed;
  top: 100px;
  width: 250px;
  border: 1px solid #111;
  height: 80vh;
  background-color: #fff;
  font-size: 13px;
}

.lang-btn-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.lang-btn-container button {
  margin-left: auto;
  background: none;
  border: none;
  padding: 15px;
  font-weight: bold;
  color: #555;
}

.lang-btn-container button:hover {
  cursor: pointer;
}

.popup-lang .list-item {
  margin-left: 60px;
}

.popup-lang-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}