.container {
  display: flex;
  flex-direction: column;
  border: solid #aaa 1px;
  padding-right: 40vw;
  padding-left: 17vw;
}

#tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  width: 50%;
  height: 110px;
  background: #fff;
  padding: 16px 12px;
}

#review-icon {
  background-image: url('https://fec-images-6-18-20.s3-us-west-2.amazonaws.com/iconfinder_compose_write_pen_pencil_writing_5859800.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

#qa-icon {
  background-image: url('https://fec-images-6-18-20.s3-us-west-2.amazonaws.com/iconfinder_Chatting_4200467.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 71px;
  background: #fff;
  padding: 0px 24px;
  border: 1px solid gray;
}

.header-button {
  background: #000;
  color: #fff;
}

#filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  background: #fff;
  padding: 0px 24px;
  border: 1px solid gray;
}

.mention-off {
  border: 1px solid #111;
  background: #fff;
  color: #111;
  margin: 2.5px;
}

.mention-on {
  background: #111;
  color: #fff;
  margin: 2.5px;
}

.filter-header {
  font-weight: bold;
}

.search {
  border: 1px solid gray;
}

.filter {
  border: 1px solid gray;
}

.checklist-filter {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

#popular-mentions {
  border: 1px solid gray;
  padding: 5px;
}

.page {
  border: 1px solid gray;
}

.review {
  border: 1px solid gray;
}

.nav-bar {
  border: 1px solid gray;
}

.dropdown {
  width: 20px;
  background-color: #111;
  color: #fff;
}